<div class="m-contact-form" data-t-name="ContactForm">
  <form action="{{form-action}}" method="{{form-method}}">
	{{!-- Review: move pattern inline props to data files --}}
    {{pattern name="input-field" input-type="input" input-name="name" input-content="text" input-placeholder="Full Name"}}
    {{pattern name="input-field" input-type="input" input-name="email" input-content="email" input-placeholder="Email-Address"}}
    {{pattern name="input-field" input-type="textfield" input-name="message" input-placeholder="Message"}}
    {{pattern name="submit" submit-text="Send message"}}
  </form>
</div>
